<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-RQkGAvQ3XoXf59x9JMz-3MKj6-5XRuM</string>
	<key>GCM_SENDER_ID</key>
	<string>902375901390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.handyman</string>
	<key>PROJECT_ID</key>
	<string>handyman-5ce4f</string>
	<key>STORAGE_BUCKET</key>
	<string>handyman-5ce4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902375901390:ios:651da1605fbba48be1289f</string>
</dict>
</plist>